* {
    margin: 0;
    padding: 0;
}

/* setting background */
body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(51, 0, 0, 0.5), rgba(51, 0, 0, 0.5)), url("../images/background.jpg");
    background-repeat: repeat;
    background-size: cover;
}

/* Logo font */
#logo {
    font-family: 'Bruno Ace', cursive;
}

/* search icon */
#basic-addon1 {
    border: none;
    color: whitesmoke;
    margin-left: -40px;
    border-radius: 50%;
}

/* search result display */
#list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#list-container .card {
    padding: 5px;
    margin: 5px;
    background-color: black;
    background-color: rgb(33, 36, 39);
    color: white;
    box-shadow: 2px 2px 4px black;
}

#list-container i {
    font-size: 1.5rem;
}

#list-container i:hover {
    transform: scale(1.2);
}

.card-title:hover {
    color: yellow;
}

/* footer styling */
footer {
    width: 100vw;
    padding: 5px 10px;
    bottom: 0;
    position: fixed;
    background-color: #212529;
}

#message a {
    text-decoration: none;
    color: gray;

}